div.content {
    /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
    display: none;
    float: left;
    width: 565px;

}

div.content a, div.navigation a {
    text-decoration: none;
    color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
    text-decoration: underline;
}
div.controls {
    margin-top: 5px;
    height: 23px;
}
div.controls a {
    padding: 5px;
}
div.ss-controls {
    float: left;
}
div.nav-controls {
    float: right;
}

div#container {
    padding: 20px;

    padding-right:1px;

}

div.slideshow-container {
    position:relative;
    clear: both;
    height: 346px; /* This should be set to be at least the height of the largest image in the slideshow */


}
div.loader {
    position: absolute;
    top:10px;
    left: 0;
    background-color:white;
    background-image: url('../images/backgrounds/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 565px;
    height: 346px; /* This should be set to be at least the height of the largest image in the slideshow */
    border:3px solid #412d00;
}
div.slideshow {

}
div.slideshow span.image-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
div.slideshow a.advance-link {

    display: block;
    width: 565px;
    height: 346px;
    /* This should be set to be at least the height of the largest image in the slideshow */
    text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
    text-decoration: none;
}
div.slideshow img {
    vertical-align: middle;
    border:3px solid #412d00;
}

div.download {
    float: right;
}

div.caption-container {
    width:550px;
    margin-top:30px;
    margin-left:7px;
    color:white;
    position: relative;
    clear: left;
    height: 75px;
}

span.image-caption {
    display: block;
    position: absolute;
    width: 565px;
    height:auto;
    top: 0;
    left: 0;
}

div.caption {    
    padding: 12px;
}
.caption p{margin-left:25px;}

div.image-title {
    font-weight: bold;
    font-size: 1.4em;
}
div.image-desc {
    line-height: 1.3em;
    padding-top: 12px;
}

div.navigation {
    /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */

}
ul.thumbs {

    margin-top:12px;
    clear: both;

}
ul.thumbs li {
    float: left;

    margin: 5px 9px 5px 0;
    list-style: none;
}
a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
    background: #000;
}
a.thumb:focus {
    outline: none;
}
ul.thumbs img {
    border: none;
    display: block;
}
div.pagination {

}

div.navigation div.top {
    margin-bottom: 12px;
    height: 11px;
}
div.navigation div.bottom {
    margin-top: 12px;
}

div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    display: block;
    float: left;
    margin-right: 2px;
    padding: 4px 7px 2px 7px;
    border: 1px solid #ccc;
}
div.pagination a:hover {
    background-color: #eee;
    text-decoration: none;
}
div.pagination span.current {
    font-weight: bold;
    background-color: #000;
    border-color: #000;
    color: #fff;
}
